/* Hero/Header Component */
.hero{
  background: linear-gradient(rgba(0, 0, 0, 0.583), rgba(0, 0, 0, 0.501)), url('https://images.unsplash.com/photo-1555448225-75fa341981f6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80') black center center scroll;
  height: 350px;
  object-fit: cover;
}
.hero-container{
  padding-top: 7rem;
  color: antiquewhite;
}
.individual-button{
  padding: 0 0.4rem;
}

/* Navbar Component*/
.navlinks{
  margin-left: auto;
  margin-right: 2rem;
}
.navbar-brand{
  margin-left: 2rem;
}

/* CardList Component */
.cardlist-container{
  padding: 1.7rem 0 2.3rem 0;
  justify-content: center;
  width: 100%;
}

/* IndividualCard Component */
.individual-card{
  padding: 1.8rem 0;
}

/* Footer Component */
.hero-footer{
  background: linear-gradient(rgba(0, 0, 0, 0.83), rgba(0, 0, 0, 0.371)), url('https://images.unsplash.com/flagged/photo-1553355150-aa46cd5ff57e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=889&q=80') black center center scroll;
  height: 310px;
}