/* Hero/Header Component */
body {
  text-align: center;
  scrollbar-color: blue orange; 
}

.website-title{
  font-family: 'Pattaya', sans-serif;
}

@media only screen and (max-width: 400px) {
  body {
    width: 100%;
  }
}

.hero-home{
  background: linear-gradient(rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.295)), url('./images-src/hero-image.jpeg') black center center scroll;
  height: 400px;
  object-fit: cover;
  width: 100%;
}
.hero-AI{
  background: linear-gradient(rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.295)), url('./images-src/hero-image.jpeg') black center center scroll;
  height: 400px;
  object-fit: cover;
  width: 100%;
}
.hero-app{
  background: linear-gradient(rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.295)), url('./images-src/hero-image.jpeg') black center center scroll;
  height: 400px;
  object-fit: cover;
  width: 100%;
}
.hero-library{
  background: linear-gradient(rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.295)), url('./images-src/hero-image.jpeg') black center center scroll;
  height: 400px;
  object-fit: cover;
  width: 100%;
}
.hero-about{
  background: linear-gradient(rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.295)), url('./images-src/hero-image.jpeg') black center center scroll;
  height: 400px;
  object-fit: cover;
  width: 100%;
}
.hero-container {
  margin-top: 50px;
  padding-top: 7rem;
  color: antiquewhite;
  width: 100%;
}

.individual-button {
  margin: 0 0.3rem;
  padding: 0.5rem;
}

.social-icon {
  font-size: 1.2rem;
}

.hero-container-AI {
  margin-top: 50px;
  padding-top: 7rem;
  color: antiquewhite;
  width: 100%;
}

.hero-container-applist {
  margin-top: 50px;
  padding-top: 7rem;
  color: antiquewhite;
  width: 100%;
}

/* small screens */
/* @media only screen and (max-width: 700px) {
  .hero-container-AI{
    margin-top: 40px;
    padding-top: 2rem;
    color: antiquewhite;
    width: 100%;
  }
} */
@media only screen and (max-width: 600px){
  .hero-home{
    background: linear-gradient(rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.295)), url('./components/heroComponents/hero-images/rolling-arms.gif') black center center scroll;
    height: 400px;
    object-fit: cover;
    width: 100%;
  }
  .hero-AI{
    background: linear-gradient(rgba(0, 0, 0, 0.418), rgba(0, 0, 0, 0.493)), url('./components/heroComponents/hero-images/moving-neuron.gif') black center center scroll;
    height: 400px;
    object-fit: cover;
    width: 100%;
  }
  .hero-app{
    background: linear-gradient(rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.295)), url('./components/heroComponents/hero-images/ring-dribbble.gif') black center center scroll;
    height: 400px;
    object-fit: cover;
    width: 100%;
  }
  .hero-library{
    background: linear-gradient(rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0.315)), url("./components/heroComponents/hero-images/people-walkig-circle.gif") black center center scroll;
    height: 400px;
    object-fit: cover;
    width: 100%;
  }
  .hero-about{
    background: linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.418)), url('./components/heroComponents/hero-images/people-pattern.gif') black center center scroll;
    height: 400px;
    object-fit: cover;
    width: 100%;
  }
  .hero-text{
    text-shadow: 0px 0px 20px rgb(0, 0, 0), 0px 0px 20px rgb(0, 0, 0);
  }
}


@media only screen and (max-width: 400px) {
  .hero-container-AI {
    padding-top: 10rem;
    padding-right: 0rem;
    padding-bottom: 5px;
    font-size: 1.2;
  }

  .hero-container-applist {
    margin-top: 15px;
    padding-top: 3.5rem;
    color: antiquewhite;
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .hero-container-AI {
    padding-top: 80px;
    padding-right: 0rem;
  }

  .hero-container-applist {
    margin-top: 20px;
    padding-top: 6rem;
    color: antiquewhite;
    width: 100%;
  }
}

/* medium screen/ipad size alike */
/* @media only screen and (max-width: 800px) {
  .hero-container-AI{
    margin-top: 50px;
    padding-top: 4rem;
    color: antiquewhite;
    width: 100%;
  }
} */
/* iphone 5 */
/* Only iPhone 5 (portrait mode) */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) and (orientation:portrait) {
  .hero {
    height: 600px;
  }

  .hero-container {
    margin-top: 2rem;
    padding-top: 2rem;
    font-size: small;
  }
}

/* @media only screen 
    and (max-width : 320px) 
    and (max-height : 568px){
      .hero{
        height: 650px;
        padding-top: 0rem;
      }
      .hero-container{
        margin-top: 15px;
        margin-bottom: 15px;
      }
      
      .individual-button{
        margin: 0.2rem 0.2rem;
        
      }
    } */
/* iphone 5 */
/* @media screen and (device-aspect-ratio: 40/71) {
  .hero{
    height: 380px;
  }
  .hero-container{
    padding-top: 2rem;
  }
  .individual-button{
    margin: 0.2rem 0.2rem;
    
  }
} */
/* iphone X */
@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
  .hero-container {
    padding-top: 4rem;
  }
}

/* iphone 6/7/8 plus */
@media only screen and (max-width : 414px) and (max-height : 736px) {
  /* .hero-container {
    padding-top: 3.8rem;
  } */

  .hero {
    height: 350px;
  }

  .individual-button {
    margin: 0.1rem 0.2rem;
  }
}

/* Galaxy note 3 */
@media only screen and (max-width : 360px) and (max-height : 640px) {
  .hero {
    height: 380px;
  }

  .individual-button {
    margin: 0.2rem 0.2rem;
  }
}

/* Navbar Component*/
/* .navbar-toggle{
  margin-right: rem;
} */
.navbar-copyright {
  font-size: 0.5rem;
  position: relative;
  bottom: 0.6rem;
}

.navlinks {
  margin-left: auto;
  margin-right: 1rem;
  font-family: 'Raleway', sans-serif;
}

.navbar-brand {
  margin-left: 1rem;
  font-family: 'Pattaya', sans-serif;
}

.navlink-item {
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Raleway', sans-serif;
}

@media only screen and (max-width: 700px) {
  .navlink-item {
    margin: 0.2rem 0;
    font-size: 1.2rem;
    /* margin-right: auto;
    margin-left: 2rem; */
  }
}

@media only screen and (max-width: 800px) {
  .navlink-item {
    margin: 0.2rem 0;
    font-size: 1.2rem;
  }
}

/* NavTab Component */
.navtab-container {
  margin-top: 1.3rem;
}

.nav-tab-link {
  color: rgba(0, 0, 0, 0.782);
  font-family: 'Raleway', sans-serif;
}

/* RandomQuotes */
.quote-card-body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.486), rgba(0, 0, 0, 0.466)), url("https://i.pinimg.com/originals/bb/9a/68/bb9a6891d329c8a23f8ebcee6f3d7374.gif");
}

.quote-card {
  padding-top: 2rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Raleway', sans-serif;
}

.quote-card-text {
  color: white;
}

.quote-card-title {
  color: white;
}

/* ContentTable Component */

.click-sign {
  font-size: 0.7rem;
}

.quote-header {
  font-size: 1.3rem;
}

.content-header {
  font-size: 1.3rem;
  text-decoration: none;
}

.content-toggle, .collapse, .content-toggle:hover, .content-table{
  border-radius: 16px !important;
  border-bottom: none !important;
  border-top: none !important;
}

.quote-header, .card-header{
  border-radius: 16px 16px 0 0 !important;
  border-bottom: none !important;
  border-top: none !important;
}
.quote-card-body, .card-body{
  border-radius: 0 0 16px 16px !important;
  border-bottom: none !important;
  border-top: none !important;
}

.content-toggle:hover {
  cursor: pointer;
}

.content-table {
  margin-top: 2rem;
  font-family: 'Raleway', sans-serif;
}

.content-table:hover {
  box-shadow: 0 4px 8px 0 rgba(56, 56, 56, 0.082), 0 6px 20px 0 rgba(56, 56, 56, 0.097);
}

.content-item {
  list-style-type: none;
  margin-right: auto;
}

.content-item:hover {
  cursor: pointer;
  color: brown;
}

.content-table-Link-tag {
  text-decoration: none;
  color: rgb(22, 22, 22);
}


/* CardList Component */

.cardlist-container {
  padding: 0rem 0 2.3rem 0;
  justify-content: center;
  width: 100%;
  font-family: 'Raleway', sans-serif; 
}

.cardlist-row {
  width: 100%;
  padding-left: 1.7rem;
}

/* IndividualCard Component */
.card{
  border-radius: 16px !important;
  border-top: none !important;
}
.card-img-top{
  border-radius: 16px !important;
  border-bottom: none !important;
  border-top: none !important;

}
.individual-card {
  margin: 1.8rem 1.2rem;
  border-radius: 16px !important;
  border-top: none !important;
  transition: transform 0.35s ease-in-out;
}
.individual-card:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  transform: translate(0, -13px);
  transition: transform 0.35s ease-in-out;
  border-radius: 16px !important;
}

.book-under-line {
  padding: 0 3rem;
}

.card-study-modal{
  font-family: 'Raleway', sans-serif;
}
/* .modal-footer{
  margin-right: auto;
} */
/* Footer Component */
.hero-footer {
  background: linear-gradient(rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.474)), url('./images-src/hero-image.jpeg') black center center scroll;
  height: 100%;
}

.hero-container-footer {
  padding: 3rem 0;
  color: antiquewhite;
  height: 100%;
}

.copy-right {
  padding-top: 1rem;
}

.footer-social-links {
  padding: 0 0.5rem;
  color: antiquewhite;
  text-decoration: none;
}

.footer-social-links:hover {
  color: antiquewhite;
  border: 1px solid;
  border-radius: 6px;
  padding: 0.7rem;
  cursor: pointer;
}

/* CarouselSlide */
.carousel-body {
  height: 100%;
  padding-bottom: 5rem;
}

.carousel-image {
  filter: brightness(50%);
}

.header-text {
  padding-bottom: 1rem;
}

/* ABOUT */
/* .about-hero-head{
  padding-top: 2rem;
} */
.about-container {
  padding: 2.4rem 0 4rem 0;
  font-family: 'Raleway', sans-serif;

}

.profile-image {
  padding: 4rem 0 1.5rem 0;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.profile-info {
  margin: 0 1.8rem;
  font-weight: normal;
  font-size: 1rem;
}

.about-info {
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.about-me-line {
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
}

/* large screen */
@media only screen and (max-width: 4000px) {
  .profile-image {
    width: 20%;
  }

  .about-info {
    margin: 0 12rem;
  }
}

/* medium screens/ipad-pro alike*/
@media only screen and (max-width: 1024px) {
  .profile-image {
    width: 40%;
  }

  .about-info {
    margin: 0 10rem;
    font-size: 25px;
  }
}

/* medium screen/ipad size alike */
@media only screen and (max-width: 800px) {
  .profile-image {
    width: 40%;
  }

  .about-info {
    margin: 0 5rem;
    font-size: 1.4rem;
  }
  .navlinks {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 2rem;
  }
}

/* small screens */
@media only screen and (max-width: 700px) {
  .profile-image {
    width: 50%;
  }

  .about-info {
    margin: 0 1rem;
    font-size: inherit;
  }
}

/* BookList */
.booklist-container {
  margin: 2rem 0;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Raleway', sans-serif;
}

.media-books {
  padding: 2rem 0 0 0;
}

.book-button {
  margin: 1rem 0;
}

.booklist-intro {
  padding: 2rem 0;
}

.booklist-underline {
  margin: 0 4rem;
}

/* App list */

.individual-app {
  margin: 0 auto;
  transition: transform 0.35s ease-in-out;
}

.individual-app:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  transform: translate(0, -10px);
  transition: transform 0.35s ease-in-out;
}

.app-list-container {
  padding: 2rem 2rem;
}

.individual-app-div {
  padding: 2rem 0;
}

/* Individual App */
.app-individual-button{
  margin: 0 0.2rem;
}
.app-individual-button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.5);
}
/* 
Home Component */
.info-text{
  margin: 2rem 1rem;
  font-family: 'Raleway', sans-serif;
}
.home-container{
  padding: 3rem 0 0rem 0;
}
.home-individual-info{
  padding: 3rem 0rem 0 0rem;
}
.home-upper-text{
  font-family: 'Raleway', sans-serif;
}
.individual-row{
  margin: 0 auto;
}
.home-image{
  width: 80%;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  transition: transform 0.35s ease-in-out;
}
.home-image:hover{
  transform: translate(0, -13px);
  transition: transform 0.35s ease-in-out;
}
.individual-home-card{
  width: 80%;
  margin: 3rem auto;
}
.topic-collection{
  margin: 0 2rem;
}

@media only screen and (min-width: 600px){
  .home-image-black{
    display: none;
  }
}

@media only screen and (max-width: 600px){
  .home-image{
    display: none;
  }
}

/* Home Hero */
.home-hero{
  padding: 0rem 0 0 0;
  font-family: 'Pattaya', sans-serif;
  font-size: 3rem;
}

.home-info-title{
  font-family: 'Raleway', sans-serif;
}

/* TechsLogoList */
.individual-logo{
  width: 50%;
  margin: 1rem;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  transition: transform .7s ease-in-out;
}

.individual-logo:hover{
  transform: rotate(360deg);
}

.techslogolist-title{
  font-family: 'Raleway', sans-serif;
  margin: 0 0 2.5rem 0;
}
.techslogolist-container{
  margin: 3rem auto;
}
.logo-name{
  font-family: 'Raleway', sans-serif;
}
